#titulo_principal{
    background-color: #c54040;
    color: white
}

.titulo_secundario{
    background-color: #852525;
    color: white
}
#layout{
        display: flex;
}
.rodape{
    text-align: center;
}